div {
  border: 1px solid red;
}

.header {
  display: flex;
  height: 95px;
}

.header-link {
  margin: auto;
}

.flex-row {
  display: flex;
}

.project {
  display: flex;
  background-position: center;
  background-size: cover;
}

.project_beginner {
  width: 636px;
  height: 430px;
  margin: auto;
}

.project_music-album {
  background-image: url(https://code.s3.yandex.net/web-code/album.png);
}

.project_design-principles {
  background-image: url(https://code.s3.yandex.net/web-code/design.png);
}

.flex-column{
  width: 636px;
  height: 557px;
}

.project_procrastinate {
  width: 636px;
  height: 557px;
}

.project-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project_p5 {
  width: 636px;
  height: 240px;
}

.flex-row_frameworks-inner {
  width: 636px;
  height: 290px;
}

.project_slider {
  width: 306px;
  height: 290px;
  background-image: url(https://code.s3.yandex.net/web-code/slider.gif);
}

.project_reactive {
  width: 306px;
  height: 290px;
  background-image: url(https://code.s3.yandex.net/web-code/reactive.gif);
}
