div {
  border: 1px solid red;
}

.header {
  display: flex;
  height: 95px;
}

.header-link {
  margin: auto;
}

.menu {
  display: flex;
  justify-content: center;
  min-height: 75px;
  align-items: center;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-row_reversed{
  flex-direction: row-reverse;
}

.flex-column{
  display: flex;
  width: 636px;
  height: 557px;
  justify-content:space-between;
}

.flex-column_reversed {
  flex-direction:column-reverse;
}

.flex-row_frameworks-inner {
  width: 636px;
  height: 290px;
}

.project {
  display: flex;
  background-position: center;
  background-size: cover;
}

.project_beginner {
  width: 636px;
  height: 430px;
  margin: auto;
}

.project_music-album {
  background-image: url(https://code.s3.yandex.net/web-code/album.png);
}

.project_design-principles {
  background-image: url(https://code.s3.yandex.net/web-code/design.png);
}

.project_vanilla {
  width: 306px;
  height: 290px;
}

/*Элемент, которому задано CSS-свойство order: 1; будет показан раньше элемента со свойством order: 2;*/
/*Элемент с отрицательным значением порядка (order: -1;) будет всегда первым в контейнере*/
.project_how-to-study {
  background-image: url(https://code.s3.yandex.net/web-code/how-to-study.png);
  order: 3;
}

.project_across-russia {
  flex-basis: 636px; /*базовая ширина flex элемента = 636px*/
  background-image: url(https://code.s3.yandex.net/web-code/across-russia.png);
  order: 2;
}

.project_mesto {
  background-image: url(https://code.s3.yandex.net/web-code/mesto.png);
  order: 1;
}

.project_procrastinate {
  width: 636px;
  height: 557px;
}

.project-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project_p5 {
  width: 636px;
  height: 240px;
}

.project_slider {
  width: 306px;
  height: 290px;
  background-image: url(https://code.s3.yandex.net/web-code/slider.gif);
}

.project_reactive {
  width: 306px;
  height: 290px;
  background-image: url(https://code.s3.yandex.net/web-code/reactive.gif);
}

.footer {
  display: flex; /*сделайте блок с классом footer флекс-контейнером;*/
  height: 95px; /*задайте этому блоку высоту 95 пикселей;*/
  justify-content: center; /*вложенные в него элементы отцентруйте вдоль оси флексбокс-контейнера.*/
}

.logo {
  width: 145px; /*ширину 145 пикселей*/
  height: 25px; /*высоту 25 пикселей*/
  background-image: url(https://pictures.s3.yandex.net/logo_black.png); /*фоновое изображение по адресу https://pictures.s3.yandex.net/logo_black.png*/
  background-size: contain; /*размер фона contain*/
  background-repeat: no-repeat; /*повтор фона no-repeat*/
  background-position: center; /*позицию фона center*/
  align-self: center; /*выровняем только логотип по центру и по вертикали*/
}
