div {
  border: 1px solid red;
}

.header {
  display: flex;
  height: 95px;
}

.header-link {
  margin: auto;
}

.project {
  display: flex;
  background-position: center;
  background-size: cover;
}

.project_beginner {
  height: 430px;
  width: 636px;
  margin: auto;
}

.project_music-album {
  background-image: url(https://code.s3.yandex.net/web-code/album.png);
}

.project_design-principles {
  background-image: url(https://code.s3.yandex.net/web-code/design.png);
}
